<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" parallel="tests" thread-count="2">


    <test name="SignUP">
        <classes>
            <class name="SeleniumTests.webdriversetup1"/>
        </classes>
    </test>


    <!--    <test name="MutipleBrowserParameterChrome" >-->
    <!--        <parameter name="Param" value="chrome"/>-->
    <!--        <parameter name="Param1" value="https://conv.rakbankonline.ae/IBRetailUAT/auth"/>-->

    <!--        <classes>-->
    <!--            <class name="TestNGTests.MutipleBrowserTest" />-->
    <!--        </classes>-->
    <!--    </test>-->

    <!--    <test name="MutipleBrowserParameterEdge" >-->
    <!--        <parameter name="Param" value="edge"/>-->
    <!--        <parameter name="Param1" value="https://conv.rakbankonline.ae/IBRetailUAT/auth"/>-->
    <!--        <classes>-->
    <!--            <class name="TestNGTests.MutipleBrowserTest" />-->
    <!--        </classes>-->
    <!--    </test>-->
</suite>
